html, body {
  margin: 0;
  padding: 0;
  background: #0d0f12; /* 어두운 배경 */
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
}

main {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}
